button{
    background: none;
    border: none;
    width: 100%;
    display: flex;
    justify-content: start;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.project_menu{
    box-sizing: border-box;
}
one-project{
    width:  70%;
}
.header{
    padding-left: 30%;
    margin-top: 100px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
.project_menu{
    width: 25%;
    height: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
}
.header_t{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* margin-right: 3em; */
}
.btn-add_b{
    background: none;
    border: none;
    background: url('../assets/icons/4115237-add-plus_114047.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    background-size: 100%;
    margin-right: 10px;
}

.btn-add_b:hover{
    background-color: #EEEEEE;
    border-radius: 5px;
    cursor: pointer;
}
.hidden{
    display: none;
}
.highlight{
    background-color: #b7f4e6;
}
.listOfProjects{
    margin-right: 0.3em;
    margin-left: 3em;
}
.li_obj{
    padding: 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: 100%;
}
.li_obj>img{
    margin-right: 10px;
}
.li_obj>div{
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    width: 100%;
}