button{
    background: none;
    border: none;

}
.container{
    padding-top: 50px;
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
}
.row_header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.text_h{
    padding: 5px 25px;
    border-radius: 3px;
    font-size: 28px;
    font-weight: 500;
}
.text_h:hover{
    background-color: #b7f4e6;
}
.text_date{
    margin-top: 5px;
    text-align: end;
    font-style: italic;
}
.bottom{
    margin-top: 10px;
    display: flex;
    justify-content: end;
}
.bottom>button{
    cursor: pointer;
}
.btm-cancell{
    padding: 5px;
    font-size: 16px;
}
.btm-cancell:hover{
    text-decoration: underline
}
.btm-edit{
    padding: 5px;
    border-radius: 2px;
    font-size: 16px;
    margin-left: 10px;
    background-color: #4cc5ab;
    color: white;
}
.btn-delPrj{
    background: url('../assets/icons/dustbin.ico');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    text-align: right;
    font-size: 15px;
    /* width: 130%; */
    width: 150px;
    height: 20px;
    cursor: pointer;
    padding:  13px;
    padding-bottom: -3px;
}
.btn-delPrj:hover{
    border: solid 0.5px;
    border-radius: 5px;
}
.btn-addTask{
    background: url('../assets/icons/plus2.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    text-align: right;
    font-size: 15px;
    color:gray;
    width: 150px;
    height: 20px;
    cursor: pointer;
    /* padding:  13px; */
    padding-bottom: -3px;
}
.btn-addTask:hover{
    background: url('../assets/icons/plus1.svg');
    color: #15a483;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
input.text_h:hover{
    background-color: white;
}

.create_msg{
    font-size: 20px;
    font-style: italic;
}

.formAddTask>input{
    width: 99%;
    height: 25px;
    margin-bottom: 5px;
}
.formAddTask>.button>button{
    font-size: 14px;
    font-weight: 400;
    border: solid 0.3px #9b9898;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.formAddTask>.button>.btn-add{
    margin-left: 10px;
    background-color: #4cc5ab;
    color: white;
}