.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.project_menu{
    box-sizing: border-box;
}
.header{
    padding-left: 30%;
    margin-top: 100px;
    display: flex;
    height: 50px;
    align-items: center;
}
.project_menu{
    width: 25%;
    height: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
}
.header_t{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-right: 1em;
}
.btn-add_b{
    background: none;
    border: none;
    background: url('../assets/icons/4115237-add-plus_114047.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    background-size: 100%;
}

.btn-add_b:hover{
    background-color: #EEEEEE;
    border-radius: 5px;
    cursor: pointer;
}
.hidden{
    display: none;
}
.highlight{
    background-color: #acf3e4;
}