<div class="container" *ngIf="_task">
    <div class="task" *ngIf="!editTask">
        <div>
            <button class="checkbox" (click)="checkTask()" [ngClass]="{check: check}"></button>
            <button (click)="edit()" >{{_task.name}}</button>
        </div>
        <div>
            <button class="btn-open"
                    (click)="f_subtaskOnScreen()"
                    [ngClass]="{open: subtaskOnScreen}"></button>
            <button class="btn-add" (click)="addSubtask()"></button>
            <button class="btn-del" (click)="deleteTask()"></button>
        </div>
    </div>
    <div class="formSubtask" *ngIf="formForSubtask">
        <input type="text" [(ngModel)]="subtask_name">
        <div class="button">
            <button class="btn-cancell" (click)="editSubtask()">Отмена</button>
            <button class="btn-update" (click)="saveSubtask()">Сохранить</button>
        </div>
    </div>
    <div class="formTask" *ngIf="editTask">
        <input type="text" [(ngModel)]="_task_name">
        <div class="button">
            <button class="btn-cancell" (click)="edit()">Отмена</button>
            <button class="btn-update" (click)="updateTask()">Сохранить</button>
        </div>
    </div>
    <div class="subtasks" *ngIf="subtaskOnScreen">
        <div *ngFor="let subt of subtask">
            <task [task]="subt" (delTask)="delTask1($event)"></task>
        </div>
    </div>
</div>
