<div class="container">

    <div class="header">
        <div class="header_t">
            Добавить проект
        </div>
    </div>
    <div class="form">
        <div class="name">
            <div class="name_t">
                Название
            </div>
            <input type="text" class="name_input" [(ngModel)]="nameProject">
        </div>
    </div>
    <div class="bottom">
        <button class="btm-cancell" (click)="cancell(false)">Отмена</button>
        <button class="btm-add" (click)="add()">Добавить</button>
    </div>
</div>