<div [ngClass]="{hidden: !openAddProject}">
    <modalWindow-addProject (closeModalWindow)="closeModalWindow($event)"
    (addProject)="addProject($event)"
    >
    </modalWindow-addProject>
</div>
<div class="container">

    <div class="project_menu">
        <div class="header">
            <div class="header_t">Проекты</div>
            <div class="btn-add">
                <button class="btn-add_b" (click)="openModalWindow()"></button>
            </div>
        </div>
        <div class="listOfProjects">
            <div *ngFor="let item of projects">
                <button class = 'li_obj'[ngClass]="highlight(item.id)"
                        (click)="chooseProject(item.id)">
                    <img src="../assets/icons/Ellipse 1.svg" alt="">
                    {{item.name}}
                </button>
            </div>
        </div>
    </div>   

    
    <one-project [idProject]="indexProject"></one-project>
    
</div>