<div class="container" >

    <div *ngIf="project">
        <div class="header">

            <div class="row_header">
                <div>
                    <button class="text_h" (click)="edit()" *ngIf="!formEditProject">
                        {{project.name}}
                    </button>
                    <div *ngIf="formEditProject">
                        <input type="text" class="text_h" [(ngModel)]="project_name" autofocus>
                        <div class="bottom">
                            <button class="btm-cancell" (click)="edit()">Отмена</button>
                            <button class="btm-edit" (click)="update()">Сохранить</button>
                        </div>
                    </div>
                    <div class="text_date">
                        {{project.dateOfreationString}}
                    </div>

                </div>
                <div>
                    <button class="btn-delPrj" (click)="deletePrj()">Удалить проект</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="container_task">
            <div *ngFor="let item of firstLevel_Tasks">
                <task [task]="item" (delTask)="delTask($event)"></task>
                <hr>
            </div>
            <div class="formAddTask" *ngIf="formAddTask">
                <input autofocus type="text" name="" id="" [(ngModel)]="nameNewTask">
                <div class="button">
                    <button class="btn-cancell" (click)="addTask()">Отмена</button>
                    <button class="btn-add" (click)="saveTask()">Сохранить</button>
                </div>
            </div>
            <div>
                <button class="btn-addTask" (click)="addTask()" *ngIf="!formAddTask">
                    Добавить задачу
                </button>
            </div>
        </div>
    </div>

    <div class="create_msg" *ngIf="!project">
        Создайте новый проект
    </div>

</div>
